{{##def.page_title = 'Your account' #}}
{{##def.content:
<div class="content row panel radius">
    <div class="settings">
            <ul class="menu">
                <li class="active">
                    Account
                </li>
                <li>
                    <a href="/security">Security</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>

                <li>
                    <a href="/support">Support</a>
                </li>
            </ul>
            <div class="panel">
                <h5>Account</h5>
                <hr>
                <div class="large-6 columns">
                    <div class="panel radius">
                        <b>Deposit Address:</b>
                        <br/>
                        {{?it.user.deposit_address}}
                            <span>{{=it.user.deposit_address}}</span>
                        {{??}}
                            <a href="/create-deposit-address" class="button green">Create deposit address</a>
                        {{?}}
                    </div>
                </div>
                <div class="large-6 columns">
                    Transfer bitcoins to this address to have your account credited. Accounts are only credited after one bitcoin confirmation which depending on external factors can take a while. You can check <a href="https://blockchain.info/address/{{=it.user.deposit_address}}">blockchain.info</a> to see if your transactions have confirmed yet.
                    <strong><a href="/faq#deposit">
                        <small>more?</small>
                    </a></strong>
                </div>
                <br/>

                <div class="large-12 columns" style="margin-top: 20px;">
                    <h5>Account Information</h5>
                    <div id="statistics" >
                        <div class="columns data large-3">
                            <p><b>Deposits </b></p>
                            <h5>{{#def.format:{n: it.user.deposits, decimals:2} }} {{#def.CURRENCY}}</h5>
                        </div>
                        <div class="columns data large-3">
                            <p><b>Withdrawals </b></p>
                            <h5>{{#def.format:{n: it.user.withdrawals, decimals:2} }} {{#def.CURRENCY}}</h5>
                        </div>
                        <div class="columns data large-3">
                            <p><b>Free {{#def.CURRENCY}} Collected </b></p>
                            <h5>{{#def.format:{n: it.user.giveaways, decimals:2} }} {{#def.CURRENCY}}</h5>
                        </div>
                        <div class="columns data large-3">
                            <p><b>Net Profit</b></p>
                            <h5>{{#def.format:{n: it.user.net_profit, decimals:2} }} {{#def.CURRENCY}}</h5>
                        </div>
                    </div>
                </div>

                <div class="large-12 columns" style="margin-top: 20px;">
                    {{?typeof it.user.eligible !== 'number' }}
                    {{?it.user.balance_satoshis > 100}}
                    <div class="success bits">You are eligible for free 2 {{#def.CURRENCY}} <a href="/request">CLICK HERE TO REQUEST
                        THEM!</a></div>
                    {{?}}
                    {{??}}
                    <div class="success bits">You'll be eligible for 2 free {{#def.CURRENCY}} in {{=it.user.eligible}} minutes</div>
                    {{?}}
                </div>
            </div>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main')}}
