{{##def.page_title = 'Your account' #}}
{{##def.content:
<script type="text/javascript">
    function logout () {
        if (document.getElementById('logout')) {
            if (confirm("Are you sure you want to log out?")) {
                document.getElementById("logout").submit();
            }
        }
    }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <div class="small-2 columns">
            <ul class="menu">
                <li class="active">
                    Account
                </li>
                <li>
                    <a href="/security">Security</a>
                </li>
                <li>
                    <a href="/deposit">Deposit</a>
                </li>
                <li>
                    <a href="/withdraw">Withdraw</a>
                </li>

                <li>
                    <a href="/support">Support</a>
                </li>
                <li>
                    <a onclick="logout();">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
        <div class="small-10 columns">
            <h5>Account</h5>
            <hr>
                <div class="large-6 columns">
                    <div class="panel radius">
                        <b>Deposit Address:</b>
                        <br/>
                        {{?it.user.deposit_address}}
                            <span>{{=it.user.deposit_address}}</span>
                            <img src="https://chart.googleapis.com/chart?chs=200x200&cht=qr&chl={{=it.user.deposit_address}}&choe=UTF-8"/>
                            <script>function shapeshift_click(a,e){e.preventDefault();var link=a.href;window.open(link,'1418115287605','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left=0,top=0');return false;}</script> <a onclick="shapeshift_click(this, event);" href="https://shapeshift.io/shifty.html?destination={{=it.user.deposit_address}}&amp;apiKey=9cd5bdd358986f50b84dd23bc89dd15fdccc510ac0a67e4d30a849b2a9b2cc22028c3b67d74032e6e1c2890329dccd25b9367a31a06934be931f4dc37de40fa8"><img src="https://shapeshift.io/images/shifty/large_dark_ss.png" class="ss-button"></a>
                        {{??}}
                            <a href="/create-deposit-address" class="button green">Create deposit address</a>
                        {{?}}
                    </div>
                </div>
                <div class="large-6 columns">
                    Transfer bitcoins to this address to have your account credited. Accounts are only credited after one bitcoin confirmation which depending on external factors can take a while. You can check <a href="https://blockchain.info/address/{{=it.user.deposit_address}}">blockchain.info</a> to see if your transactions have confirmed yet.
                    <strong><a href="/faq#deposit">
                        <small>more?</small>
                    </a></strong>
                </div>
                <br/>

            <div class="large-12 columns" style="margin-top: 20px;">
                <h5>Account Information</h5>
                <div id="statistics" >
                    <div class="columns data large-3">
                        <p><b>Deposits </b></p>
                        <h5>{{#def.format:{n: it.user.deposits, decimals:2} }} Bits</h5>
                    </div>
                    <div class="columns data large-3">
                        <p><b>Withdrawals </b></p>
                        <h5>{{#def.format:{n: it.user.withdrawals, decimals:2} }} Bits</h5>
                    </div>
                    <div class="columns data large-3">
                        <p><b>Free Bits Collected </b></p>
                        <h5>{{#def.format:{n: it.user.giveaways, decimals:2} }} Bits</h5>
                    </div>
                    <div class="columns data large-3">
                        <p><b>Net Profit</b></p>
                        <h5>{{#def.format:{n: it.user.net_profit, decimals:2} }} Bits</h5>
                    </div>
                </div>
            </div>

            <div class="large-12 columns" style="margin-top: 20px;">
                {{?typeof it.user.eligible !== 'number' }}
                {{?it.user.balance_satoshis > 100}}
                <div class="success bits">You are eligible for free 2 Bits <a href="/request">CLICK HERE TO REQUEST
                    THEM!</a></div>
                {{?}}
                {{??}}
                <div class="success bits">You'll be eligible for 2 free Bits in {{=it.user.eligible}} minutes</div>
                {{?}}
            </div>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main')}}
