{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content:
<div class="row faq panel radius">

    <h5>Frequently Asked Questions</h5>
    <hr>
    <div class="columns large-3">
        <div class="faq-nav">
            <ul class="side-nav">
                <li><a href="#how-to-play">How to play?</a></li>
                <li><a href="#bits">What is a NXT?</a></li>
                <li><a href="#plugin">How to play from the NXT plugin?</a></li>
                <li><a href="#giveaway">How can I get free NXT?</a></li>
                <li><a href="#deposit">How do I deposit NXT?</a></li>
                <li><a href="#deposit-address">How long is the unique account number valid?</a></li>
                <li><a href="#deposit-time">How long for deposits to be credited to account?</a></li>
                <li><a href="#withdraw">How do I withdraw bits?</a></li>
                <li><a href="#gross-profit">What is Gross Profit?</a></li>
                <li><a href="#dropout">What happens if I disconnect form the game?</a></li>
                <li><a href="#high">How high can the game go?</a></li>
                <li><a href="#limit">What is the most I can bet?</a></li>
                <li><a href="#last">What is the bonus?</a></li>
                <li><a href="#odds">What are the game odds?</a></li>
                <li><a href="#crash-point">How is the game bust calculated?</a></li>
                <li><a href="#fair">Is the game fair?</a></li>
                <li><a href="#force">What happens when the server forces people to cash out?</a></li>
                <li><a href="#other">What other gambling places do you recommend?</a></li>
                <li><a href="#addiction">Gambling Addiction</a></li>
            </ul>
        </div>
    </div>

    <div class="columns large-9">
        <dl>
            <h3 id="basics">Basics</h3>
            <dd><b><a name="bitcoin-gambling"></a>What is NXT gambling?</b>
                <p>
                    NXT gambling is a general term for any type of gambling wherein bets are placed in units of
                    NXT as opposed to a fiat currency, Bitcoin or any other asset. Learn more about
                    <a href="bitcoin-gambling">NXT gambling</a> or the history of <a href="online-gambling-meets-bitcoin">online gambling and bitcoin</a>.
                </p>
            </dd>

            <dd>
                <b><a name="how-to-play"></a>How to play?</b>
                <p>
                    Place a bet. Watch the multiplier increase from 1x upwards! Cash out any time to get your bet
                    multiplied by that multiplier. But be careful because the game can bust at any time, and you'll get nothing!
                </p>
            </dd>
            <dd>
                <b><a name="bits"></a>What is a NXT?</b>
                <p>
                    A NXT is the basic Unit of the NXT-Currency. At the time of this writing, a single NXT is worth roughly $0.0094 USD. A NXT is divisible 100,000,000 times to 1 NXTquant or 0.00000001 NXT.
                    You are able to deposit and withdraw NXT at any time by going to your <a href="/account">account page</a>.
                </p>
            </dd>
            <dd>
                <b><a name="plugin"></a>How to play from the NXT plugin?</b>
                <p>
                    You can play NXTBubble directly from you NRS NXT client. Just click this link and follow the instructions: <br>
                    <a href="https://nxtforum.org/nxtbubble-com/nxtbubble-com-nxt-plugin-download-play-directly-in-nrs-1-5-x-clients/">Nxtforum.org thread</a>
                </p>
            </dd>
            <dd>
                <b><a name="giveaway"></a>How can I get free NXT?</b>
                <p>
                    Every minute you can claim 0.02 free NXT on your account page. We do this so that you may test and enjoy the game
                    without any commitment. There are no strings attached, you may withdraw this money if you so please, but
                    we ask you to refrain from abusing this feature =)
                </p>
            </dd>
             <h3>Deposits</h3>
            <dd>
                <b><a name="deposit"></a>How do I deposit NXT?</b>
                <p>
                    Go to your Account and you will find a NXT address and unique account number. When sending NXT to this address, you <strong>MUST</strong>
                    include this number as an <strong>unencrypted message</strong> when sending the payment. So you can't send directly from an exchange!
                </p>
            </dd>
            <dd>
                <b><a name="deposit-address"></a>How long is the unique account number valid?</b>
                <p>
                    It is <strong>permanently</strong> attached to your account. You can save it, or use it for automatic
                    funding, or whatever else you like. All payments sent to our address, that contain the unique account number, will be automatically credited to your account.
                </p>
            </dd>
            <dd>
                <b><a name="deposit-time"></a>How long do deposits take to be credited?</b>
                <p>
                    We instantly credit accounts upon a single confirmation, which on average is approximately 2 minutes from the time of the transaction.
                </p>
            </dd>
            <dd>
                <b><a name="withdraw"></a>How do I withdraw NXT?</b>
                <p>
                    On your account page, you can transfer NXT to any NXT address you want. Small withdrawals
                    (i.e. smaller than the balance of our hot-wallet) are processed instantly and you will be given the transaction ID immediately.
                </p>
                <p>
                    Larger withdrawals will be shown in your withdrawal page as "PENDING" and will require us to manually remove
                    sufficient funds from our cold storage. Usually this process will take less than two hours, but may take up to 24 hours,
                    depending on the time of day and other circumstances.
                </p>
                <p>
                    We remove 1 NXT (about 0.0094 USD) from any withdrawal amount to cover transaction fees. We charge this amount
                    <strong>regardless</strong> of the actual mining fees attached to the transaction, which may be more or less
                    than this, depending on the block competition at the time of your withdrawal.
                </p>
                <p>
                   The minimum withdrawal amount is 1.01 NXT. Please remember that 1 NXT fee will be deducted, so if you
                   withdraw the minimum amount, you will only receive 0.01 NXT! I would not advise doing that.
                </p>
            </dd>
            <dd>
                <b><a name="gross-profit"></a> What is gross profit?</b>
                <p>
                    Gross profit refers to the sum of the profit from each game you've played without considering your loses.
                </p>
            </dd>
            <h3>Game</h3>
            <dd>
                <b><a name="dropout"></a>What happens if I disconnect from the game?</b>
                <p>
                    Upon detecting that you have disconnected we cash you out (assuming the game is still in progress).
                    Regardless of whether your client is connected or not, the <em>auto cash-out</em> feature will work as expected (it happens on
                    the server), and we highly recommend you use it if internet reliability or performance is a concern.
                </p>
            </dd>
            <dd>
                <b><a name="high"></a>How high can the game go?</b>
                <p>
                    There's no real limit! However, if during a game we ever are facing a net loss of 3% of the bankroll or greater,
                    the server will automatically cash out all players still in the game, forcing them to enjoy an early win and a sizeable profit.
                    You can see in game what the current max win is (in the bottom right of the chart)
                </p>
            </dd>
            <dd>
                <b><a name="limit"></a>What is the most I can bet?</b>
                <p>
                    This depends on the house bankroll and is changing constanly. Just go to "Play" and check it out yourself.
                </p>
            </dd>
            <dd>
                <b><a name="last"></a>What is the bonus?</b>
                <p>
                    The bonus is a special prize that is awarded to the last people to cash out before the game busted. Getting the bonus
                    is critical to skillful playing of NXTBubble, as it is the <strong>only</strong> way to overcome house odds.
                </p>
                <p>1% of each player's stake goes into the bonus pot. So if there are 4 players, betting 400, 300, 200, and 100, there will be 10 NXT in the pot.
                    If the biggest player wins, he gets the whole pot. The site works out the rate he would be getting if he won, ie. 400 NXT bet gives 10 NXT bonus
                    - or 1/40th bonus per NXT bet. It then applies the same rate to whoever actually wins.
                </p>
                <p>So if the 100 NXT player wins, he gets 1/40th of 100, or 2.5 NXT. That leaves 7.5 NXT in the pot,
                    which goes to the next best placing player(s).
                </p>
                <p>Suppose the 200 NXT player comes 2nd. He is due 1/40th of 200, or 5 NXT. There are still 7.5 NXT in the pot,
                    so he gets the full 5 NXT he is due - the same as if he had come in 1st place.
                </p>
                <p>
                    Suppose the 300 NXT player comes 3rd. He's due 7.5 NXT (300/40) but there are only 2.5 NXT left in the pot, so he gets those and that's all. There's nothing left for the 4th or worse place players.
                </p>
                <p>
                    1.5% of games will instant bust (0x) and no bonuses will be awarded, all other games have bonuses equal to 1% of the amount wagered.
                </p>
            </dd>
            <h3>Fairness</h3>
            <dd>
                <b><a name="odds"></a>What are the game odds?</b>
                <p>
                    The house margin is scaled between 0 and 1 %, depending on how long you hold. An additional 1.5 % is effectively
                    taken from every bet and put into the <a href="#bonus">bonus pool</a>, of which 1% is distributed
                    every game. As a consequence, skilless or random play has—at worst—an expected return of -2.5 %, but it is possible to overcome
                    the house margin by skillfully getting bonuses.
                </p>
                <p>
                    The numbers are baked into the game, so you never need to worry about it. 
                    Our unique formula makes it fair for both highly conservative play (cash out early) and highly aggressive
                    play (hold until you're a millionaire). All games are <a href="#fair">provably fair</a>.
                </p>
                <p>
                    The exact formula for the houses expected return is:<br />
                    <code>1 % * (intendedCashOut - roomAmount) * (roomAmount / intendedCashOut)</code><br />
                    But to really get a good sense of how this affects you, please use our handy <a href="/calculator">odds calculator</a>.
                </p>
                <p>
                    The other important thing to keep in mind is that every game has a 1.5 % chance of instantly busting. This is an important consideration to make if you
                    are playing in such a way that you never win the bonus.
                </p>
                <img src="/img/house-edge.png">
            </dd>
            <dd>
                <b><a name="crash-point"></a>How is the game bust calculated?</b>
                <p>
                    The code that decides the multiplier for each round is here:
                </p>
                <p>
                    <a href="https://github.com/TwinWinNerD/bustabit-gameserver/blob/master/server/lib.js#L146-L157">https://github.com/TwinWinNerD/bustabit-gameserver/blob/master/server/lib.js#L146-L157</a>
                </p>
                <p>
                    It basically does three things.
                </p>
                <p>
                    First, it mixes the hash with the clientSeed (decided by the provably fair seeding event) using hmac-sha256
                </p>
                <p>
                    Secondly it gives a 1 in 67 chance of instant busting
                </p>
                <p>
                    Third, it works out what the multiplier would be if there was no
                    house edge.
                </p>
                <p>
                    Fourth, it takes 1% off the multiplier and adds on 0.01x:
                </p>
                <p>
                    So half the time (other than 0x bust) the multiplier will be 1.99x
                    or more.
                </p>
                <p>
                    That means if we bet 1.99x we have a 50% chance of winning (again,
                    ignoring 0x busts), and so the house edge is:
                </p>
                <p>
                    <code>100 - (1.99 * 50) = 100 - 99.5 = 0.5%</code>
                </p>
                <p>
                    The extra 0.01 that gets added on to the multiplier is half of the 1%
                    that was taken off in this case, leaving the house edge at 0.5%. As
                    the multiplier gets bigger, the 1% that is taken off gets bigger, and
                    the 0.01x that gets added on becomes less and less significant,
                    causing the house edge to tend to 1%.
                </p>
            </dd>
            <dd>
                <b><a name="fair"></a>Is the game fair?</b>
                <p>
                    Absolutely! And we can prove it. Please see:
                    <a href="https://nxtforum.org/nxtbubble-com/nxtbubble-com-provable-fair-seeding-event/">the nxtforum.org thread</a>
                    for technical details.<br>
                    If you just want a quick tool to verify the individual rolls, checkout this tool by user M19: <a href="http://m19.ninja/nxtbubble-verifier/">NXTBubble Verifier</a>.
                </p>
            </dd>
            <dd>
                <b><a name="force"></a>What happens when the server forces people to cash out?</b>
                <p>
                    Under some circumstances the server will force people to cash out. The most common reason is that the game multiplier
                    has gotten so large that we are risking too much of our bankroll (3 % or more). Another possible reason is
                    unexpected server problems. If more than one person in a game is affected by the forced
                    cash-out, we allocate the last cash-out bonus to a random player.
                </p>
            </dd>
            <dd>
                <b><a name="other"></a>What other gambling places do you recommend?</b>
                <p>
                    A couple quick pointers: the lower the house edge the more variance you will experience
                    which means a longer, more exciting gaming session. Bitcoin Casinos generally offer better odds, less fees
                    and faster deposits and withdrawals than fiat based casinos. Be extremely skeptical of generous
                    reward programs, bonuses (e.g. deposit bonuses), affiliate programs and the likes. The money comes from
                    somewhere: you.
                </p>
                <p>
                    Instead of listing our favorites here, we'll defer to the excellent <a href="https://thebitcoinstrip.com/">bitcoin strip</a>
                </p>
            </dd>
            <dd>
                <b><a name="addiction"></a>Do you have gambling addiction?</b>
                <p>
                    Gambling addiction, also known as compulsive gambling, is a type of impulse-control disorder.
                    Compulsive gamblers can’t control the impulse to gamble, even when they know their gambling is hurting themselves or their loved ones. Gambling is all they can think about and all they want to do, no matter the consequences. Compulsive gamblers keep gambling whether they’re up or down, broke or flush, happy or depressed. Even when they know the odds are against them, even when they can’t afford to lose, people with a gambling addiction can’t “stay off the bet.”
                </p>
                <p>
                    Gamblers can have a problem, however, without being totally out of control. Problem gambling is any gambling behavior that disrupts your life. If you’re preoccupied with gambling, spending more and more time and money on it, chasing losses, or gambling despite serious consequences, you have a gambling problem.
                </p>
                <p>
                    <p>If you think you have this problem please visit one of these sites to get assistance:</p>
                    <b>UK: </b><a href="http://www.gambleaware.co.uk/">http://www.gambleaware.co.uk/</a></br>
                    <b>US: </b><a href="http://www.ncpgambling.org/help-treatment/help-by-state/">http://www.ncpgambling.org/</a></br>
                    <b>Self Help: </b><a href="http://www.gamblersanonymous.org/ga/">http://www.gamblersanonymous.org/ga/</a>
                </p>
            </dd>
        </dl>
    </div>
    <a class="border-button red right" href="#">Up</a>
</div>
#}}
{{#def.include('./template/main')}}
