{{##def.page_title = 'Leader Board' #}}

{{##def.content:
<div class="content row panel radius">

    <h5 id="top">Top 20 players</h5>
    <hr>
    <a href="/weekly-leaderboard"><strong>Weekly leaderboard Promotion</strong></a>
    <hr>
    <table class="leaders">
        <thead>
            <tr>
                <td>
                    Rank
                </td>
                <td>
                    Player
                </td>
                <td>
                    {{?it.sortBy != 'wagered' || it.order != 'DESC'}}
                    <a href="/leaderboard?by=wagered_desc"><i class="fa fa-sort-desc"></i></a>
                    {{?}}
                    Wagered
                </td>
                <td class="ldb-gross">
                    {{?it.sortBy != 'gross_profit' || it.order != 'DESC'}}
                    <a href="/leaderboard?by=gross_desc"><i class="fa fa-sort-desc"></i></a>
                    {{?}}
                    Gross Profit <strong><a href="/faq#gross-profit">?</a></strong>
                </td>
                <td class="ldb-net">
                    {{?it.sortBy != 'net_profit' || it.order != 'DESC' }}
                      <a href="/leaderboard?by=net_desc"><i class="fa fa-sort-desc"></i></a>
                    {{?}}
                      Net Profit
                    {{?it.sortBy != 'net_profit' || it.order != 'ASC' }}
                    <a href="/leaderboard?by=net_asc"><i class="fa fa-sort-asc"></i></a>
                    {{?}}
                </td>
            </tr>
        </thead>
        <tbody>

            {{~it.leaders :leader:index}}
                <tr>
                    <td>
                        {{=leader.rank}}
                    </td>
                    <td>
                        <a href="/user/{{=leader.username}}">{{=leader.username}}</a>
                    </td>
                    <td>
                        {{#def.format: { n: leader.wagered, decimals: 0 } }} {{#def.CURRENCY}}
                    </td>
                    <td>
                        {{#def.format: { n: leader.gross_profit, decimals: 0 } }} {{#def.CURRENCY}}
                    </td>
                    <td>
                        {{#def.format: { n: leader.net_profit, decimals: 0 } }} {{#def.CURRENCY}}
                    </td>
                </tr>
            {{~}}

        </tbody>
    </table>
    {{?it.leaders.length > 20 }}<div class="border-button red right" onclick="#top"></div>{{?}}
</div>
#}}

{{#def.include('./template/main')}}
