{{##def.page_title = 'Register' #}}

{{##def.content:
<script src='https://www.google.com/recaptcha/api.js'></script>
<script type="text/javascript">
    function enableSubmit() {
      var s = document.getElementById('registerSubmit');
      s.style.display = 'block';
    }

    function onAgreeClick() {
      var agree = document.getElementById('agree').checked;
      var submit = document.getElementById('registerSubmit');
      var acceptTerms = document.getElementById('acceptTerms');
      if(agree) {
        submit.disabled = false;
        acceptTerms.style.display = 'none';
      } else {
        submit.disabled = true;
        acceptTerms.style.display = 'block';
      }
    }

    window.onload = function () {
        if (document.getElementById('confirmation') !== null) {
            document.getElementById('confirmation').onchange = validatePassword;
            document.getElementById('password').onchange = validatePassword;
        }
    };
    function validatePassword() {
        var password = document.getElementById('password').value;
        var confirm = document.getElementById('confirmation').value;
        if (password != confirm) {
            document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
        } else document.getElementById("confirmation").setCustomValidity('');
    }
</script>
        <div class="panel auth-con content">
            <form action="/register" method="post">
                <h5>Create a new account <small><a href="login">Already have one?</a></small></h5>
                <hr>
                <div class="field">
                  <label>Username</label>
                  <input type="text" name="user[name]" value="{{?it.values}}{{!it.values.name}}{{?}}" autocomplete="off" pattern="[A-Za-z0-9_\-]{3,16}" title="Username only allowed alphanumeric, hyphen and underscore" required />
                </div>
                <div class="field">
                  <label for="email">Recovery Email (Optional)</label>
                  <input type="email" id="email" value="{{?it.values}}{{!it.values.email}}{{?}}" name="user[email]" autocomplete="off"/>
                </div>
                <div class="field">
                  <label>Password</label>
                  <input id="password" type="password" value="{{?it.values}}{{!it.values.password}}{{?}}" name="user[password]" autocomplete="off" pattern=".{7,200}" title="Password should be at least 7 characters"/>
                  <small>Pick something secure, at least 7 characters</small>
                </div>
                <div class="field">
                  <label>Confirm Password</label>
                  <input id="confirmation" type="password" value="{{?it.values}}{{!it.values.confirm}}{{?}}" name="user[confirm]" autocomplete="off" pattern=".{7,200}" data-equal-id="password" required=""/>
                </div>
                <div class="field">
                    <input type="checkbox" id="agree" onClick="onAgreeClick()">
                        <label for="agree">I agree</label>
                    </input>
                    <p class="small">
                    By accessing NXTBubble.com or its service:<br/>
                    Acknowledge that you have read and agree to the website's <a href="/terms-conditions" target="_blank">Terms &amp; Conditions.</a> <br/>
                    Attest that you are 18 years old or older. <br/>
                    Affirm that you are in a jurisdiction where the NXTBubble.com service is legal
                    </p>
                </div>
                        <div class="g-recaptcha" data-sitekey="6LdfOAYTAAAAAObF55v-yVI8kesqwIimDitHRsGU" data-callback="enableSubmit"></div>
                        <input id="registerSubmit" style="display: none" class="button green" type="submit" value="Register" disabled="true"/>
                        <p class="small" id="acceptTerms" style="display: block;">
                          You must accept the Terms &amp; Conditions before you can register.
                        </p>
                </div>
            </form>
        </div>
#}}
{{#def.include('./template/main')}}
