{{##def.page_title = 'Request Free Bits' #}}

{{##def.content:
<div class="content row panel radius">

    <div class="settings">
        <ul class="menu">
            <li>
                <a class="active" href="/account">Account</a>
            </li>
            <li>
                <a href="/deposit">Deposit</a>
            </li>
            <li>
                <a href="/withdraw">Withdraw</a>
            </li>

            <li>
                <a href="/support">Support</a>
            </li>
        </ul>
        <div class="panel">
            <h5>Request Free NXT</h5>
            {{?typeof it.user.eligible !== 'number'}}
                <p class="small ">**Every minute you are able to request 0.02 free {{#def.CURRENCY}}, just claim them!</p>
                <form class="giveaway-form" action="/request" method="post">
                    <script type="text/javascript">
                        var RecaptchaOptions = {
                            theme : 'white'
                        };
                    </script>
                    <script type="text/javascript"
                            src="https://www.google.com/recaptcha/api/challenge?k=6LdfOAYTAAAAAObF55v-yVI8kesqwIimDitHRsGU">
                    </script>
                    <noscript>
                        <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LdfOAYTAAAAAObF55v-yVI8kesqwIimDitHRsGU"
                                height="300" width="500" frameborder="0"></iframe><br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                        </textarea>
                        <input type="hidden" name="recaptcha_response_field"
                               value="manual_challenge">
                    </noscript>
                    <input class="right button green" type="submit" value="request"/>
                </form>
                <script type="text/javascript"
                        src="https://www.google.com/recaptcha/api/challenge?k=6LdfOAYTAAAAAObF55v-yVI8kesqwIimDitHRsGU">
                </script>
                <noscript>
                    <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LdfOAYTAAAAAObF55v-yVI8kesqwIimDitHRsGU"
                            height="300" width="500" frameborder="0"></iframe><br>
                    <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                    </textarea>
                    <input type="hidden" name="recaptcha_response_field"
                           value="manual_challenge"/>
                </noscript>
            {{??}}
                <h4>You will be eligible for free 0.02 {{#def.CURRENCY}} in {{=it.user.eligible}} minutes</h4>
            {{?}}
        </div>
    </div>
</div>
#}}

{{#def.include('./template/main')}}
