{{##def.page_title = 'Support' #}}

{{##def.content:
<form action="/logout" method="post" id='logout'></form>
<div class="content row panel radius">

    <div class="settings">
        <ul class="menu">
            <li>
                <a href="/account">Account</a>
            </li>
            <li>
                <a href="/security">Security</a>
            </li>
            <li>
                <a href="/deposit">Deposit</a>
            </li>
            <li>
                <a href="withdraw">Withdraw</a>
            </li>

            <li class="active">
                Support
            </li>
        </ul>
        <div class="panel">
            <h5>Need help? Please contact us</h5>
                <hr>
                <div class="contact">
                  Contact: <a href="mailto:{{=it.contact}}">{{=it.contact}}</a>
                </div>
        </div>
    </div>
</div>
#}}
{{#def.include('./template/main')}}
