{{##def.page_title = 'Leader Board' #}}

{{##def.content:
<div class="content row panel radius">
    <h5 id="top">Weekly Leaderboard Promotion <strong>Week {{=it.week}} - {{=it.year}}</strong></h5>
    <a href="/weekly-leaderboard?year={{=it.previousYear}}&week={{=it.previousWeek}}">&#xAB; Previous</a>
    &nbsp;
    <a href="/weekly-leaderboard?year={{=it.nextYear}}&week={{=it.nextWeek}}">Next &#xbb;</a>
    <hr>
    <div class="success">
        This is a "rakeback" promotion, where the player with the highest amount
        <br>
        wagered gets 0.15% of his weekly wagered amount back, the second player 0.14%, ect ect.
        <br>
        This weekly promotion ends on Sunday 11:59 pm EDT of Week {{=it.week}} {{=it.year}}. 
    </div>
    <hr>
    <table class="leaders">
        <thead>
            <tr>
                <td>
                    Rank
                </td>
                <td>
                    Player
                </td>
                <td>
                    Wagered
                </td>
                <td>
                    Prize
                </td>
            </tr>
        </thead>
        <tbody>

            {{~it.wagered_leaders :leader:index}}
                <tr>
                    <td>
                        {{=leader.wagered_rank}}
                    </td>
                    <td>
                        <a href="/user/{{=leader.username}}">{{=leader.username}}</a>
                    </td>
                    <td>
                        {{#def.format: { n: leader.wagered, decimals: 0 } }} {{#def.CURRENCY}}
                    </td>
                    <td>
                        {{?leader.wagered_rank <= 15}}
                            {{#def.format: { n: ((16 - leader.wagered_rank) * 0.0001 * leader.wagered), decimals: 0 } }} Bits
                        {{?}}
                        {{?leader.wagered_rank > 15}}
                            -
                        {{?}}
                    </td>
                </tr>
            {{~}}

        </tbody>
    </table>

</div>
#}}

{{#def.include('./template/main')}}
