    <header>
        <nav class="nav-top-bar">

            <div class="title">
                <a href="/">
                    <h1 class="hide-for-small-only">NXTBubble</h1>
                </a>
            </div>

            {{?it.amount}}
            <div class="table-title">
                <h2> {{=it.amount/100}} Bit Table </h2>
            </div>
            {{?}}

            <div class="show-for-small-up user-login">
            {{?it.user}}
                <div class="balance-bits">NXT: <span id="balance_bits">{{#def.format:{n: it.user.balance_satoshis, decimals:4} }}</span></div>
                <div class="username"><a href="/account">{{=it.user.username}}</a></div>
                <a href="/play">Play</a>
                <a href="https://nxtforum.org/index.php?topic=9045.0" target="_blank">Invest</a>
                <a href="/request">Faucet</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/stats">Stats</a>
                <a href="/faq">FAQ</a>
            {{??}}
                <a href="/play">Play</a>
                <a href="https://nxtforum.org/index.php?topic=9045.0" target="_blank">Invest</a>
                <a href="/leaderboard">Leaderboard</a>
                <a href="/stats">Stats</a>
                <a href="/faq">FAQ</a>
                <a href="/register">Register</a>
                <a href="/login">Log in</a>
            {{?}}
            </div>

        </nav>
    </header>
