<script type="text/javascript">
function logout() {
    if (document.getElementById('logout')) {
        if (confirm("Are you sure you want to log out?")) {
            document.getElementById("logout").submit();
        }
    }
}
</script>
<header>
    <form action="/logout" method="post" id='logout'></form>
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <span class="coin"></span>
                <h1><a href="/">BTC.ToTheMoon.me</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li><a href="/play">Play</a></li>
                <li><a href="https://nxtforum.org/index.php?topic=9045.0" target="_blank">Invest</a></li>
                <li><a href="/request">Faucet</a></li>
                <li><a href="/weekly-leaderboard">Promotion</a></li>
                {{?it.user}}
                <div class="balance header-el show-for-large-up">
                    <a href="/account">
                        <span id="balance_bits" class="amount">{{#def.format:{n: it.user.balance_satoshis, decimals:2} }}</span>
                    </a>
                    <span class="currency">{{#def.CURRENCY}}</span>
                </div>
                <li class="hide-for-large-up">
                    <a href="/account">
                        <span>{{#def.format:{n: it.user.balance_satoshis, decimals:2} }}</span>
                        <span>{{#def.CURRENCY}}</span>
                    </a>
                </li>
                {{?}}
                <li class="has-dropdown">
                    <a href="#">Currency</a>
                    <ul class="dropdown">
                        <li><a href="https://btc.tothemoon.me/">BTC</a></li>
                        <li><a href="https://nxt.tothemoon.me/">NXT</a></li>
                    </ul>
                </li>
                {{?it.user}}
                <li class="has-dropdown">
                    <a href="#">{{=it.user.username}}</a>
                    <ul class="dropdown">
                        <li><a href="/account">Account</a></li>
                        <li><a href="/deposit">Deposit</a></li>
                        <li><a href="/withdraw">Withdraw</a></li>
                        <li><a href="/support">Support</a></li>
                        <li><a href="#" onclick="logout();">Logout</a></li>
                    </ul>
                </li>
                {{??}}
                <li class="menu-action"><a href="/register" class="moon-button button green">Register</a></li>
                <li class="menu-action"><a href="/login" class="moon-button button grey">Login</a></li>
                {{?}}
            </ul>
        </section>
    </nav>
</header>
